{% extends 'base.html' %}
{% load static %}
{% load filtro %}

{% block 'head' %}
    <link href="{% static 'empresa/css/empresas.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
    <div class="wrapper">
        <div class="box"> 
            <div class="header-box">
                {% if messages %}
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <h2 class="titulo">Gerenciar Vagas</h2>
            </div>
            <div class="borda-box"></div>
            <div class="body-box">
            
                <form action="{% url 'vagas' %}" method="GET">{% csrf_token %}
                <div class="row">
                    
                        <div class="col-md-5">
                            <input type="text" placeholder="Busque pelo titulo" class="form-control" name="titulo">
                        </div>
                    
                    <div class="col-md-3">
                        <input type="submit" value="FILTRAR" class="btn btn-lg btn-orange">
                    </div>
                </div>
                </form>

                <table class="tabela" cellpadding="20">
                    <tr>
                        <th>Titulo</th>
                        <th>Empresa</th>
                        <th>Status</th>
                        <th>Tecnologias para estudar</th>
                        <th>Ação</th>
                    </tr>

                        {% for vaga in vagas %}
                            <tr {% if not forloop.counter|is_par %} class="tabela-linha" {% endif %} >
                                <td>
                                    <a class="bt-norm bt" href="{% url 'vaga' vaga.id %}">
                                        {{vaga.titulo}}
                                    </a>
                                </td>
                                <td>{{vaga.empresa}}</td>
                                <td>{{vaga.get_status_display}}</td>
                                <td>
                                    <select class="form-select"> 
                                        {% for tech in vaga.tecnologias_estudar.all %}
                                            <option>{{tech}}</option>  
                                        {% endfor %}            
                                    </select>
                                </td>
                                <td>
                                    <a href="{% url 'excluir_vaga' vaga.id %}" class="btn-excluir" method="GET">Excluir Vaga</a>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>


            

        </div>
    </div>

{% endblock%}